<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.guiainvestimento">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.guiainvestimento.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="br.com.guiainvestimento.data.PortfolioProvider"
            android:authorities="br.com.guiainvestimento"
            android:exported="false" />

        <service android:name="br.com.guiainvestimento.api.service.StockIntentService" />
        <service android:name="br.com.guiainvestimento.api.service.StockIncomeIntentService" />
        <service android:name="br.com.guiainvestimento.api.service.FiiIntentService" />
        <service android:name="br.com.guiainvestimento.api.service.CurrencyIntentService" />

        <activity
            android:name="br.com.guiainvestimento.activity.FormActivity"
            android:parentActivityName="br.com.guiainvestimento.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.guiainvestimento.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.guiainvestimento.activity.ProductDetailsActivity"
            android:parentActivityName="br.com.guiainvestimento.activity.MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.guiainvestimento.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.guiainvestimento.activity.IncomeDetailsActivity"
            android:parentActivityName="br.com.guiainvestimento.activity.ProductDetailsActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.guiainvestimento.activity.ProductDetailsActivity" />
        </activity>
        <receiver
            android:name="br.com.guiainvestimento.receiver.StockReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_STOCK_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.guiainvestimento.receiver.FiiReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_FII_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.guiainvestimento.receiver.FixedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_FIXED_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.guiainvestimento.receiver.CurrencyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_CURRENCY_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.guiainvestimento.receiver.TreasuryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_TREASURY_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.guiainvestimento.receiver.OthersReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_OTHERS_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.guiainvestimento.receiver.PortfolioReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_PORTFOLIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>